<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hellooooo</title>
    <link rel="stylesheet" href="../../assets/style/login.css" type="text/css" >
    <link rel="stylesheet" href="../../assets/style/style.css">
</head>


    <!-- <header>
        <ul>
            <a href="index.html" class="home">Нүүр</a>
            <a href="restaurants.html" class="restaurants">Ресторан</a>
            <a href="aboutUs.html" class="aboutUs">Бидний тухай</a>
            <input type="text" id="search">
            <button>Нэвтрэх</button>
        </ul>
    </header>
    <section>
        <h2>Нэвтрэх</h2>
        <p>
            <b>Хэрэглэгчийн нэр</b>
            <input type="text">
        </p>
        <p>
            <b>Нууц үг</b>
            <input type="text">
        </p>
        <a href="index.html"><button>Нэвтрэх</button> </a>
        <p> Танд хаяг байхгүй юу?
            <a href="signup.html"><i>Бүртгүүлэх</i></a>
        </p>
    </section> -->
    <body>
        <main class="login-container">
            
                <input id="tab1" type="radio" name="tabs" class="tab" checked>
                <label for="tab1" class="tab-button">Login</label>
        
                <input id="tab2" type="radio" name="tabs" class="tab">
                <label for="tab2" class="tab-button">Sign up</label>
            
            
            <form class="login-form" id="content1">
                <h2>Welcome Back!</h2>
                <fieldset>
                    <label for="email">Хэрэглэгчийн нэр:</label>
                    <input type="email" id="email" name="email" required>
                </fieldset>
                <fieldset>
                    <label for="password">Нууц үг:</label>
                    <input type="password" id="password" name="password" required>
                </fieldset>
                <fieldset class="checkbox-field">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Намайг сана</label>
                </fieldset>
                <button type="submit">Нэвтрэx</button>
            </form>
        </main>
    </body>
    
</html>