.restaurantOfTheDay{
    display: grid;
    grid-column: 1/-1;
    padding: 10px;
    gap: 10px;

}
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.restaurantOfTheDay h2{
    color: var(--status-rose-600);
    margin-top: 20px;
}
.card-title{
    display: flex;
    margin: 0 0 10px;
}
.card-img-top{
    display: block;
    width: 100%;
    height: auto;
}
.card-body{
    padding: 15px;
    

}
.card-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.card-rating{
    padding: 3px 8px;
    border-radius: 5px;
    background-color:  #89929E;
    ;
    color: #fff;
}
.card-status {
    color: #28a745;
    font-weight: bold;
}
/* .heart-btn{
    background: none;
    border: none;
    cursor: pointer;
    width: 5px;
    height: 5px;
} */
.btn-primary{
    display: block;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    color: var(--status-rose-600);
    border-radius: 8px;
    border-color: var(--status-rose-600);
    border-style: solid;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
}

