:root {
    /* TYPE */
    --body-text-xs-font-normal-family: "Inter";
    --body-text-xs-font-normal-size: 12px;
    --body-text-xs-font-normal-size-rem: 0.75rem;
    --body-text-xs-font-normal-weight: 400;
    --body-text-xs-font-normal-style: normal;
    --body-text-xs-font-normal-line-height: 16px;
    --body-text-xs-font-normal-line-height-rem: 1rem;
    --body-text-xs-font-semibold-family: "Inter";
    --body-text-xs-font-semibold-size: 12px;
    --body-text-xs-font-semibold-size-rem: 0.75rem;
    --body-text-xs-font-semibold-weight: 600;
    --body-text-xs-font-semibold-style: normal;
    --body-text-xs-font-semibold-line-height: 16px;
    --body-text-xs-font-semibold-line-height-rem: 1rem;
    --body-text-xs-semibold-capitalized-family: "Inter";
    --body-text-xs-semibold-capitalized-size: 12px;
    --body-text-xs-semibold-capitalized-size-rem: 0.75rem;
    --body-text-xs-semibold-capitalized-weight: 600;
    --body-text-xs-semibold-capitalized-style: normal;
    --body-text-xs-semibold-capitalized-line-height: 18px;
    --body-text-xs-semibold-capitalized-line-height-rem: 1.125rem;
    --body-text-sm-font-normal-family: "Inter";
    --body-text-sm-font-normal-size: 14px;
    --body-text-sm-font-normal-size-rem: 0.875rem;
    --body-text-sm-font-normal-weight: 400;
    --body-text-sm-font-normal-style: normal;
    --body-text-sm-font-normal-line-height: 20px;
    --body-text-sm-font-normal-line-height-rem: 1.25rem;
    --body-text-sm-font-semibold-family: "Inter";
    --body-text-sm-font-semibold-size: 14px;
    --body-text-sm-font-semibold-size-rem: 0.875rem;
    --body-text-sm-font-semibold-weight: 600;
    --body-text-sm-font-semibold-style: normal;
    --body-text-sm-font-semibold-line-height: 20px;
    --body-text-sm-font-semibold-line-height-rem: 1.25rem;
    --body-text-sm-semibold-capitalized-family: "Inter";
    --body-text-sm-semibold-capitalized-size: 14px;
    --body-text-sm-semibold-capitalized-size-rem: 0.875rem;
    --body-text-sm-semibold-capitalized-weight: 600;
    --body-text-sm-semibold-capitalized-style: normal;
    --body-text-sm-semibold-capitalized-line-height: 20px;
    --body-text-sm-semibold-capitalized-line-height-rem: 1.25rem;
    --body-text-base-font-normal-family: "Inter";
    --body-text-base-font-normal-size: 16px;
    --body-text-base-font-normal-size-rem: 1rem;
    --body-text-base-font-normal-weight: 400;
    --body-text-base-font-normal-style: normal;
    --body-text-base-font-normal-line-height: 24px;
    --body-text-base-font-normal-line-height-rem: 1.5rem;
    --body-text-base-font-semibold-family: "Inter";
    --body-text-base-font-semibold-size: 16px;
    --body-text-base-font-semibold-size-rem: 1rem;
    --body-text-base-font-semibold-weight: 600;
    --body-text-base-font-semibold-style: normal;
    --body-text-base-font-semibold-line-height: 24px;
    --body-text-base-font-semibold-line-height-rem: 1.5rem;
    --body-text-base-semibold-capitalized-family: "Inter";
    --body-text-base-semibold-capitalized-size: 16px;
    --body-text-base-semibold-capitalized-size-rem: 1rem;
    --body-text-base-semibold-capitalized-weight: 600;
    --body-text-base-semibold-capitalized-style: normal;
    --body-text-base-semibold-capitalized-line-height: 24px;
    --body-text-base-semibold-capitalized-line-height-rem: 1.5rem;
    --body-text-lg-font-normal-family: "Inter";
    --body-text-lg-font-normal-size: 18px;
    --body-text-lg-font-normal-size-rem: 1.125rem;
    --body-text-lg-font-normal-weight: 400;
    --body-text-lg-font-normal-style: normal;
    --body-text-lg-font-normal-line-height: 28px;
    --body-text-lg-font-normal-line-height-rem: 1.75rem;
    --body-text-lg-font-semibold-family: "Inter";
    --body-text-lg-font-semibold-size: 18px;
    --body-text-lg-font-semibold-size-rem: 1.125rem;
    --body-text-lg-font-semibold-weight: 600;
    --body-text-lg-font-semibold-style: normal;
    --body-text-lg-font-semibold-line-height: 28px;
    --body-text-lg-font-semibold-line-height-rem: 1.75rem;
    --body-text-lg-semibold-capitalized-family: "Inter";
    --body-text-lg-semibold-capitalized-size: 18px;
    --body-text-lg-semibold-capitalized-size-rem: 1.125rem;
    --body-text-lg-semibold-capitalized-weight: 600;
    --body-text-lg-semibold-capitalized-style: normal;
    --body-text-lg-semibold-capitalized-line-height: 28px;
    --body-text-lg-semibold-capitalized-line-height-rem: 1.75rem;
    --desktop-headline-h1-text-5xl-family: "Inter";
    --desktop-headline-h1-text-5xl-size: 48px;
    --desktop-headline-h1-text-5xl-size-rem: 3rem;
    --desktop-headline-h1-text-5xl-weight: 600;
    --desktop-headline-h1-text-5xl-style: normal;
    --desktop-headline-h1-text-5xl-line-height: 48px;
    --desktop-headline-h1-text-5xl-line-height-rem: 3rem;
    --desktop-headline-h2-text-4xl-family: "Inter";
    --desktop-headline-h2-text-4xl-size: 36px;
    --desktop-headline-h2-text-4xl-size-rem: 2.25rem;
    --desktop-headline-h2-text-4xl-weight: 600;
    --desktop-headline-h2-text-4xl-style: normal;
    --desktop-headline-h2-text-4xl-line-height: 40px;
    --desktop-headline-h2-text-4xl-line-height-rem: 2.5rem;
    --desktop-headline-h3-text-3xl-family: "Inter";
    --desktop-headline-h3-text-3xl-size: 30px;
    --desktop-headline-h3-text-3xl-size-rem: 1.875rem;
    --desktop-headline-h3-text-3xl-weight: 600;
    --desktop-headline-h3-text-3xl-style: normal;
    --desktop-headline-h3-text-3xl-line-height: 36px;
    --desktop-headline-h3-text-3xl-line-height-rem: 2.25rem;
    --desktop-headline-h4-text-2xl-family: "Inter";
    --desktop-headline-h4-text-2xl-size: 24px;
    --desktop-headline-h4-text-2xl-size-rem: 1.5rem;
    --desktop-headline-h4-text-2xl-weight: 600;
    --desktop-headline-h4-text-2xl-style: normal;
    --desktop-headline-h4-text-2xl-line-height: 32px;
    --desktop-headline-h4-text-2xl-line-height-rem: 2rem;
    --desktop-headline-h5-text-xl-family: "Inter";
    --desktop-headline-h5-text-xl-size: 20px;
    --desktop-headline-h5-text-xl-size-rem: 1.25rem;
    --desktop-headline-h5-text-xl-weight: 600;
    --desktop-headline-h5-text-xl-style: normal;
    --desktop-headline-h5-text-xl-line-height: 28px;
    --desktop-headline-h5-text-xl-line-height-rem: 1.75rem;
    --mobile-headline-h1-text-4xl-family: "Inter";
    --mobile-headline-h1-text-4xl-size: 36px;
    --mobile-headline-h1-text-4xl-size-rem: 2.25rem;
    --mobile-headline-h1-text-4xl-weight: 600;
    --mobile-headline-h1-text-4xl-style: normal;
    --mobile-headline-h1-text-4xl-line-height: 40px;
    --mobile-headline-h1-text-4xl-line-height-rem: 2.5rem;
    --mobile-headline-h2-text-3xl-family: "Inter";
    --mobile-headline-h2-text-3xl-size: 30px;
    --mobile-headline-h2-text-3xl-size-rem: 1.875rem;
    --mobile-headline-h2-text-3xl-weight: 600;
    --mobile-headline-h2-text-3xl-style: normal;
    --mobile-headline-h2-text-3xl-line-height: 36px;
    --mobile-headline-h2-text-3xl-line-height-rem: 2.25rem;
    --mobile-headline-h3-text-2xl-family: "Inter";
    --mobile-headline-h3-text-2xl-size: 24px;
    --mobile-headline-h3-text-2xl-size-rem: 1.5rem;
    --mobile-headline-h3-text-2xl-weight: 600;
    --mobile-headline-h3-text-2xl-style: normal;
    --mobile-headline-h3-text-2xl-line-height: 32px;
    --mobile-headline-h3-text-2xl-line-height-rem: 2rem;
    --mobile-headline-h4-text-xl-family: "Inter";
    --mobile-headline-h4-text-xl-size: 20px;
    --mobile-headline-h4-text-xl-size-rem: 1.25rem;
    --mobile-headline-h4-text-xl-weight: 600;
    --mobile-headline-h4-text-xl-style: normal;
    --mobile-headline-h4-text-xl-line-height: 28px;
    --mobile-headline-h4-text-xl-line-height-rem: 1.75rem;
  
    /* COLORS */
    --basic-black: #000000;
    --basic-white: #ffffff;
    --neutral-50: #f8fafc;
    --neutral-100: #f1f5f9;
    --neutral-200: #e2e8f0;
    --neutral-300: #cbd5e1;
    --neutral-400: #94a3b8;
    --neutral-500: #64748b;
    --neutral-600: #475569;
    --neutral-700: #334155;
    --neutral-800: #1e293b;
    --neutral-900: #0f172a;
    --brand-50: #eef2ff;
    --brand-100: #e0e7ff;
    --brand-200: #c7d2fe;
    --brand-300: #a5b4fc;
    --brand-400: #818cf8;
    --brand-500: #6366f1;
    --brand-600-main: #4f46e5;
    --brand-700: #4338ca;
    --brand-800: #3730a3;
    --brand-900: #312e81;
    --status-teal-600: #0d9488;
    --status-teal-400: #2dd4bf;
    --status-teal-50: #f0fdfa;
    --status-amber-600: #d97706;
    --status-amber-400: #f59e0b;
    --status-amber-50: #fef3c7;
    --status-rose-600: #e00b0b;
    --status-rose-400: #ec6d6d;
  
    /* SHADOWS */
    --shadow-sm: 0 1px 2px 0 rgba(0 0 0 / 0.05);
    --shadow-base: 0 1px 2px 0 rgba(0 0 0 / 0.06), 0 1px 3px 0 rgba(0 0 0 / 0.1);
    --shadow-md: 0 2px 4px -1px rgba(0 0 0 / 0.06), 0 4px 6px -1px rgba(0 0 0 / 0.1);
    --shadow-lg: 0 4px 6px -2px rgba(0 0 0 / 0.05), 0 10px 15px -3px rgba(0 0 0 / 0.1);
    --shadow-xl: 0 10px 10px -5px rgba(0 0 0 / 0.04), 0 20px 25px -5px rgba(0 0 0 / 0.1);
    --shadow-2xl: 0 25px 50px -12px rgba(0 0 0 / 0.25);
    --shadow-inner: inset 0 2px 4px 0 rgba(0 0 0 / 0.06);
  
    /* GRIDS */
    --desktop-fixed-1172px-size: 1172px;
    --desktop-fixed-1172px-size-rem: 73.25rem;
    --desktop-fixed-1172px-columns: 12;
    --desktop-fixed-1172px-gutter: 28px;
    --desktop-fixed-1172px-gutter-rem: 1.75rem;
    --mobile-columns: 2;
    --mobile-gutter: 15px;
    --mobile-gutter-rem: 0.9375rem;
    --desktop-full-screen-columns: 12;
    --desktop-full-screen-gutter: 28px;
    --desktop-full-screen-gutter-rem: 1.75rem;

    --header-height: 3.5rem;
    --z-fixed: 100;
    --z-modal: 1000;
  }