<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hellooooo</title>
    <link rel="stylesheet" href="../assets/style/aboutUs.css" type="text/css">
    <link rel="stylesheet" href="../assets/style/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header>
            <a href=""><img src="../assets/images/logo.png" alt="tasteSpot-logo"></a>
            <ul>
                <a href="index.html" class="home">Нүүр</a>
                <a href="restaurants.html" class="restaurants">Ресторан</a>
                <a href="aboutUs.html" class="aboutUs">Бидний тухай</a>
                <input type="text" class="input-with-icon" placeholder="        Хайх ...">

                <a href="login.html" class="newtreh"> <button>Нэвтрэх</button></a>
            </ul>
        </header>

        <section class="about-area-center">
            <h2 class="about-title">Бидний түүх</h2>
            <p class="about-text-center">
                Амттай хоолонд дурлагсадын нэгдэл Hool.hair-д тавтай морилно уу!
                Манай хуудсаар дамжуулан бүх насны хүмүүс шинэ амт чанарын
                талаар мэдээллийг олж авна.
            </p>
            <img class="about-img-center" src="../assets/images/cover.png" alt="" >

        </section>

        <section class="about-area">
            <div class="about-area-right">
                <div class="about-text-left">
                <h2>Бидний тухай</h2>
                Амттай хоолонд дурлагсадын нэгдэл Hool.hair-д тавтай морилно уу!
                Манай хуудсаар дамжуулан бүх насны хүмүүс шинэ амт чанарын
                талаар мэдээллийг олж авна.
                </div>
                <img class="about-img-left" src="../assets/images/Frame 5-1.png" alt="about 2" width="505" height="377">

            </div>
            <div class="about-area-left">
                <img class="about-img-right" src="../assets/images/Frame 5-2.png" alt="about 3" width="504"
                    height="350">
                <div class="about-text-right">
                <h2>Бидний зорилго</h2>
                Амттай хоолонд дурлагсадын нэгдэл Hool.hair-д тавтай морилно уу!
                Манай хуудсаар дамжуулан бүх насны хүмүүс шинэ амт чанарын
                талаар мэдээллийг олж авна.
                </div>
            </div>
        </section>

        <section class="about-suggest-text">
            <h2>Бид танд юу санал болгож байгаа вэ?</h2>
            <p>
                Хүссэн хоолны газраа хайж олох: Бид танд маш олон газруудын мэдээллийг олгох ба та үүний ачаар өөртэйгөө ойрхон газраас хүссэн хоолоо идэх боломжтой болох юм.
                Хоолны чанарыг мэдэх: Та манай платформыг ашигласнаар хамгийн үнэнчээр тухайн хоолны амт чанар, үнийн мэдээллийг олох боломжтой юм.
                Үзэл бодлоо илэрхийлэх орчин: Та манай платформ дээр өөрийн үзэл бодлоо чөлөөтэй илэрхийлэх боломжтой юм.
    
            </p>
        </section>
        <!-- <section class="about-ask">
            <h2>Бид танд юу санал болгож байгаа вэ?</h2>
            <p>
                Хүссэн хоолны газраа хайж олох: Бид танд маш олон газруудын мэдээллийг олгох ба та үүний ачаар өөртэйгөө ойрхон газраас хүссэн хоолоо идэх боломжтой болох юм.
                Хоолны чанарыг мэдэх: Та манай платформыг ашигласнаар хамгийн үнэнчээр тухайн хоолны амт чанар, үнийн мэдээллийг олох боломжтой юм.
                Үзэл бодлоо илэрхийлэх орчин: Та манай платформ дээр өөрийн үзэл бодлоо чөлөөтэй илэрхийлэх боломжтой юм.
            </p>
        </section> -->

        

    </div>
</body>

</html>