<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - Restaurant review</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

    <link rel="stylesheet" href="../assets/style/style.css">
    <link rel="stylesheet" href="../assets/style/variables.css">
    <link rel="stylesheet" href="../assets/style/restaurants.css">

</head>

<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                <img src="../assets/images/logo.png">
            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="" class="nav__link">Нүүр</a>
                    </li>

                    <li class="nav__item">
                        <a href="./restaurants.html" class="nav__link">Ресторан</a>
                    </li>

                    <li class="nav__item">
                        <a href="#" class="nav__link">Хоол</a>
                    </li>

                    <li class="nav__item">
                        <a href="./aboutUs.html" class="nav__link">Бидний тухай</a>
                    </li>

                </ul>

                <!-- Close button -->
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <div class="nav__actions">
                <!-- Search button -->
                <i class="ri-search-line nav__search" id="search-btn"></i>

                <!-- Login button -->
                <i class="ri-user-line nav__login" id="login-btn"></i>

                <!-- Toggle button -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
                </div>
            </div>
        </nav>
    </header>

    <!--==================== SEARCH ====================-->
    <div class="search" id="search">
        <form action="" class="search__form">
            <i class="ri-search-line search__icon"></i>
            <input type="search" placeholder="Та хайж буй зүйлээ бичнэ үү?" class="search__input">
        </form>

        <i class="ri-close-line search__close" id="search-close"></i>
    </div>

    <!--==================== LOGIN ====================-->
    <div class="login" id="login">
        <form action="" class="login__form">
            <h2 class="login__title">Тавтай морилно уу !</h2>

            <div class="login__group">
                <div>
                    <label for="email" class="login__label">Имэйл</label>
                    <input type="email" placeholder="Имэйлээ бичнэ үү" id="email" class="login__input">
                </div>

                <div>
                    <label for="password" class="login__label">Нууц үг</label>
                    <input type="password" placeholder="Нууц үгээ бичнэ үү" id="password" class="login__input">
                </div>
            </div>

            <div>
                <!-- <p class="login__signup">
                    You do not have an account? <a href="#">Sign up</a>
                </p> -->

                <a href="#" class="login__forgot">
                    Нууц үгээ мартсан уу?
                </a>

                <button type="submit" class="login__button">Log In</button>
            </div>
        </form>

        <i class="ri-close-line login__close" id="login-close"></i>
    </div>

    <!--==================== CONTAINER ====================-->
    <div class="container">

        <section class="cover">
            <img src="../assets/images/cover.png" alt="">
        </section>

        <section class="restaurantOfTheDay">
            <h2>Онцлох ресторан</h2>
            <div class="card-container">
                <!-- ресторан карт -->
                <div class="restaurant-card">
                    <img src="../assets/images/res-photo-3.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <div class="card-top">
                            <h5 class="card-title">Ulaanbaatar: Silk Road restaurant</h5>
                            <button class="heart-btn"></button>
                        </div>
                        <div class="card-info">
                            <div class="status">
                                <span class="open">Open</span>
                                <span class="close-status">• Closes 11PM</span>
                            </div>
                            <div class="card-rating">
                                <span class="star"></span>
                                <span class="rating">4.84 (97)</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="restaurant-card">
                    <img src="../assets/images/res-photo-3.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <div class="card-top">
                            <h5 class="card-title">Ulaanbaatar: Silk Road restaurant</h5>
                            <button class="heart-btn"></button>
                        </div>
                        <div class="card-info">
                            <div class="status">
                                <span class="open">Open</span>
                                <span class="close-status">• Closes 11PM</span>
                            </div>
                            <div class="card-rating">
                                <span class="star"></span>
                                <span class="rating">4.84 (97)</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="restaurant-card">
                    <img src="../assets/images/res-photo-3.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <div class="card-top">
                            <h5 class="card-title">Ulaanbaatar: Silk Road restaurant</h5>
                            <button class="heart-btn"></button>
                        </div>
                        <div class="card-info">
                            <div class="status">
                                <span class="open">Open</span>
                                <span class="close-status">• Closes 11PM</span>
                            </div>
                            <div class="card-rating">
                                <span class="star"></span>
                                <span class="rating">4.84 (97)</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <button class="btn-primary" type="button">Цааш үзэх...</button>
        </section>

        <!-- <section class="foodOfTheDay">
            <h2>Онцлох хоол</h2>

            <div class="food-card">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ulaanbaatar: Silk Road restaurant</h5>
                    <button><img src="" alt=""></button>
                    <p class="card-text">800 meters away Cafe and Bar</p>
                    <p class="card-text">3.0 (165)</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <button type="button">Бүх хоол үзэх...</button>
        </section>


        <section class="restaurantOfTheDay">
            <h2>Онцлох ресторан</h2>

            <div class="restaurant-card">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ulaanbaatar: Silk Road restaurant</h5>
                    <button><img src="" alt=""></button>
                    <p class="card-text">open closes 11pm</p>
                    <p class="card-text">3.0 (165)</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <button type="button">Бүх ресторан үзэх...</button>
        </section>

        <section class="reviewOfTheDay">
            <h2>Онцлох сэтгэгдэл</h2>

            <div class="review-card">
                <img src="" class="card-img-top" alt="">
                <p>Shinee Zaya</p>
                <div class="card-body">
                    <h2 class="card-title">Special Spaghetti</h2>
                    <h5 class="card-title">Cante caffe</h5>
                    <img src="" alt="">
                    <p class="card-text">3.0 (165)</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>


            <button type="button">Бүх сэтгэгдэл үзэх...</button>
        </section> -->
        <footer class="footer">
            <h2>A creative team in Mongolia</h2>
            <section class="contact-info">
                <p>Contact us:</p>
                <p><span class="icon">📍</span>Ulaanbaatar, Mongolia</p>
                <p><span class="icon">📞</span>+976 99990099</p>
                <address><span class="icon">✉️</span>twinflames@gmail.com</address>
                <address><span class="icon">🌐</span>twinflames.mn</address>
            </section>
            <section class="social-media">
                <p>Follow us:</p>
                <a href="https://facebook.com" class="social-icon">f</a>
                <a href="https://instagram.com" class="social-icon">i</a>
                <a href="https://twitter.com" class="social-icon">x</a>
            </section>
        </footer>


    </div>

    <script src="../assets/js/main.js"></script>

</body>



</html>