<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hellooooo</title>
    <link rel="stylesheet" href="../assets/style/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="../assets/style/restaurants.css">
    
</head>

<body>
    <div class="container">
        <header>
            <nav class="nav-container">
                <a href=""><img src="../assets/images/logo.png" alt="tasteSpot-logo"></a>
            </nav>
            <div class="nav-menu">
                <ul>
                    <li class="nav-item">
                        <a href="restaurants.html" class="restaurants">Ресторан</a>
                    </li>
                    <li class="nav-item">
                        <a href="aboutUs.html" class="aboutUs">Бидний тухай</a>
                    </li>
                    <li class="nav-item">
                        <input type="text" class="input-with-icon" placeholder="        Хайх ...">
                    </li>
                    <li class="nav-item">
                        <a href="login.html" class="newtreh"> <button>Нэвтрэх</button></a>
                    </li>
                </ul>

                <div class="nav-close">
                    <i class="ri-close-large-line"></i>
                </div>

                <div class="nav-actions">
                    <i class="ri-search-line nav-search"></i>

                    <i class="ri-user-line nav-login"></i>

                    <div class="nav-toggle">
                        <i class="ri-menu-line"></i>
                    </div>
                </div>

            </div>
        </header>
        

        <section class="restaurantOfTheDay">
            <h2>Хамгийн өндөр үнэлгээтэй</h2>
            <div class="card-container">
               <!-- ресторан карт -->
               <div class="restaurant-card">
                <img src="../assets/images/Frame 5-1.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ulaanbaatar: Silk Road restaurant</h5>
                    <button class="heart-btn"><img src="" alt=""></button>
                    <div class="card-info">
                        <p class="card-status">open </p>
                        <p class="card-text">closes 11pm</p>
                        <p class="card-rating">3.0 (165)</p>
                    </div>
                    <a href="#" class="btn-primary">Цааш үзэх</a>
                </div>
            </div>
            <div class="restaurant-card">
                <img src="../assets/images/Frame 5-1.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ulaanbaatar: Silk Road restaurant</h5>
                    <button class="heart-btn"><img src="" alt=""></button>
                    <div class="card-info">
                        <p class="card-status">open </p>
                        <p class="card-text">closes 11pm</p>
                        <p class="card-rating">3.0 (165)</p>
                    </div>
                    <a href="#" class="btn-primary">Цааш үзэх</a>
                </div>
            </div>
            <div class="restaurant-card">
                <img src="../assets/images/Frame 5-1.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ulaanbaatar: Silk Road restaurant</h5>
                    <button class="heart-btn"><img src="" alt=""></button>
                    <div class="card-info">
                        <p class="card-status">open </p>
                        <p class="card-text">closes 11pm</p>
                        <p class="card-rating">3.0 (165)</p>
                    </div>
                    <a href="#" class="btn-primary">Цааш үзэх</a>
                </div>
            </div>
            </div>
            
            <button type="button">Бүх ресторан үзэх...</button>
        </section>
    
        <section class="restaurantOfTheDay">
            <h2>Хамгийн ойрхон</h2>
    
            <div class="card-container">
                <!-- ресторан карт -->
                <div class="restaurant-card">
                    <img src="../assets/images/Frame 5-1.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Ulaanbaatar: Silk Road restaurant</h5>
                        <button class="heart-btn"><img src="" alt=""></button>
                        <div class="card-info">
                            <p class="card-status">open </p>
                            <p class="card-text">closes 11pm</p>
                            <p class="card-rating">3.0 (165)</p>
                        </div>
                        <a href="#" class="btn-primary">Цааш үзэх</a>
                    </div>
                </div>
            <!-- ресторан карт -->
            <div class="restaurant-card">
                <img src="../assets/images/Frame 5-1.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ulaanbaatar: Silk Road restaurant</h5>
                    <button class="heart-btn"><img src="" alt=""></button>
                    <div class="card-info">
                        <p class="card-status">open </p>
                        <p class="card-text">closes 11pm</p>
                        <p class="card-rating">3.0 (165)</p>
                    </div>
                    <a href="#" class="btn-primary">Цааш үзэх</a>
                </div>
            </div>
            <!-- ресторан карт -->
            <div class="restaurant-card">
                <img src="../assets/images/Frame 5-1.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ulaanbaatar: Silk Road restaurant</h5>
                    <button class="heart-btn"><img src="" alt=""></button>
                    <div class="card-info">
                        <p class="card-status">open </p>
                        <p class="card-text">closes 11pm</p>
                        <p class="card-rating">3.0 (165)</p>
                    </div>
                    <a href="#" class="btn-primary">Цааш үзэх</a>
                </div>
            </div>
            </div>
            <button type="button">Бүх ресторан үзэх...</button>
        </section>
    
        <section class="restaurantOfTheDay">
            <h2>Цагаан хоол</h2>
    
            <div class="card-container">
                <!-- ресторан карт -->
                <div class="restaurant-card">
                    <img src="../assets/images/Frame 5-1.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Ulaanbaatar: Silk Road restaurant</h5>
                        <button class="heart-btn"><img src="" alt=""></button>
                        <div class="card-info">
                            <p class="card-status">open </p>
                            <p class="card-text">closes 11pm</p>
                            <p class="card-rating">3.0 (165)</p>
                        </div>
                        <a href="#" class="btn-primary">Цааш үзэх</a>
                    </div>
                </div>
            <!-- ресторан карт -->
            <div class="restaurant-card">
                <img src="../assets/images/Frame 5-1.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ulaanbaatar: Silk Road restaurant</h5>
                    <button class="heart-btn"><img src="" alt=""></button>
                    <div class="card-info">
                        <p class="card-status">open </p>
                        <p class="card-text">closes 11pm</p>
                        <p class="card-rating">3.0 (165)</p>
                    </div>
                    <a href="#" class="btn-primary">Цааш үзэх</a>
                </div>
            </div>
            <!-- ресторан карт -->
            <div class="restaurant-card">
                <img src="../assets/images/Frame 5-1.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ulaanbaatar: Silk Road restaurant</h5>
                    <button class="heart-btn"><img src="" alt=""></button>
                    <div class="card-info">
                        <p class="card-status">open </p>
                        <p class="card-text">closes 11pm</p>
                        <p class="card-rating">3.0 (165)</p>
                    </div>
                    <a href="#" class="btn-primary">Цааш үзэх</a>
                </div>
            </div>
            </div>
            <button type="button">Бүх ресторан үзэх...</button>
        </section>
    
        <section class="restaurantOfTheDay">
            <h2>Түргэн хоол</h2>
    
            <div class="card-container">
                <!-- ресторан карт -->
                <div class="restaurant-card">
                    <img src="../assets/images/Frame 5-1.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Ulaanbaatar: Silk Road restaurant</h5>
                        <button class="heart-btn"><img src="" alt=""></button>
                        <div class="card-info">
                            <p class="card-status">open </p>
                            <p class="card-text">closes 11pm</p>
                            <p class="card-rating">3.0 (165)</p>
                        </div>
                        <a href="#" class="btn-primary">Цааш үзэх</a>
                    </div>
                </div>
            <!-- ресторан карт -->
            <div class="restaurant-card">
                <img src="../assets/images/Frame 5-1.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ulaanbaatar: Silk Road restaurant</h5>
                    <button class="heart-btn"><img src="" alt=""></button>
                    <div class="card-info">
                        <p class="card-status">open </p>
                        <p class="card-text">closes 11pm</p>
                        <p class="card-rating">3.0 (165)</p>
                    </div>
                    <a href="#" class="btn-primary">Цааш үзэх</a>
                </div>
            </div>
            <!-- ресторан карт -->
            <div class="restaurant-card">
                <img src="../assets/images/Frame 5-1.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ulaanbaatar: Silk Road restaurant</h5>
                    <button class="heart-btn"><img src="" alt=""></button>
                    <div class="card-info">
                        <p class="card-status">open </p>
                        <p class="card-text">closes 11pm</p>
                        <p class="card-rating">3.0 (165)</p>
                    </div>
                    <a href="#" class="btn-primary">Цааш үзэх</a>
                </div>
            </div>
            </div>
            <button type="button">Бүх ресторан үзэх...</button>
        </section>
        


        
        <footer class="footer">
            <h2>A creative team in Mongolia</h2>
            <section class="contact-info">
              <p>Contact us:</p>
              <p><span class="icon">📍</span>Ulaanbaatar, Mongolia</p>
              <p><span class="icon">📞</span>+976 99990099</p>
              <address><span class="icon">✉️</span>twinflames@gmail.com</address>
              <address><span class="icon">🌐</span>twinflames.mn</address>
            </section>
            <section class="social-media">
              <p>Follow us:</p>
              <a href="https://facebook.com" class="social-icon">f</a>
              <a href="https://instagram.com" class="social-icon">i</a>
              <a href="https://twitter.com" class="social-icon">x</a>
            </section>
          </footer>
        

    </div>


    


    

    
    
</body>

</html>