<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hellooooo</title>
    <link rel="stylesheet" href="../assets/style/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="../assets/style/resDetail.css">
    
</head>

<div class="container">
    <header>
        <nav class="nav-container">
            <a href="index.html"><img src="../assets/images/logo.png" alt="tasteSpot-logo"></a>
        
        <div class="nav-menu">
            <ul>
                <li class="nav-item">
                    <a href="restaurants.html" class="restaurants">Ресторан</a>
                </li>
                <li class="nav-item">
                    <a href="aboutUs.html" class="aboutUs">Бидний тухай</a>
                </li>
                <li class="nav-item">
                    <input type="text" class="input-with-icon" placeholder="        Хайх ...">
                </li>
                <li class="nav-item">
                    <a href="login.html" class="newtreh"> <button>Нэвтрэх</button></a>
                </li>
            </ul>

            
        </div>
    </nav>
    </header>

    <!-- <section class="banner">
        <img src="../assets/images/cover.png" alt="">
    </section> -->
    <section class="area-center">
        <img class="img-center" src="../assets/images/cover.png" alt="" >
        <div class="content">
            <div class="info">
                <p class="top-left">Онцлог үзүүлэлт: Vegetarian Friendly, Vegan Options, Gluten Free Options</p>
                <p class="top-left-below">Үйлчилгээ: VIP өрөө, хуралтай, суух үйлчилгүүлэх үзүүлэлт</p>
            </div>
            
            <h2 class="title">Hulan's meat restaurant</h2>
            <p class="text-center">
            hot pot japan
            </p>
        </div>
        
        
        
        
        <!-- <div class="overlay-text">
             <img class="img-center" src="../assets/images/cover.png" alt="" >
            <p class="top-left">Онцлог үзүүлэлт: Vegetarian Friendly, Vegan Options, Gluten Free Options</p>
            <p class="top-left-below">Үйлчилгээ: VIP өрөө, хуралтай, суух үйлчилгүүлэх үзүүлэлт</p>
            <h1>Khulan meat restaurant</h1>
            <p class="subtitle">hot pot japan</p>
           
        </div> -->
    </section>

    <section class="menu">
        <article class="menu-item">
            <img src="../assets/images/Frame 5-1.png" alt="New York Cheesecake">
            <h2>New York Cheesecake</h2>
            <p>⭐⭐⭐⭐</p>
        </article>
        <article class="menu-item">
            <img src="../assets/images/Frame 5-2.png" alt="Monster Burger">
            <h2>Monster Burger</h2>
            <p>⭐⭐⭐⭐⭐</p>
        </article>
        <article class="menu-item">
            <img src="../assets/images/Frame 5-5.png" alt="Strawberry Mini Cake">
            <h2>Strawberry Mini Cake</h2>
            <p>⭐⭐⭐⭐</p>
        </article>
    </section>

    <section class="res-about-container">
        <div class="image-grid">
            <div class="column-1">
                <img src="../assets/images/about-res-1.jpeg" alt="Street Cafe">
                <img src="../assets/images/about-res-1.jpeg" alt="Gourmet Salad">
            </div>
            <div class="column-2">
                <img src="../assets/images/about-res-1.jpeg" alt="Street Cafe">
                <img src="../assets/images/about-res-1.jpeg" alt="Gourmet Salad">
            </div>
            
        </div>
        <div class="text-section">
            <h1>Рестораны Тухай</h1>
            <p>Энэхүү хоолны газар нь Монгол улсын анхдагч 300гийн газруудын нэг
                 ба 2003 онд байгуулагдсан 20 жилийн түүхтэй газар юм. 
                 Одоогоор еврсдийн 20 гаруй салбарыг монгол дахар нээсэн ба 
                 хэвчлэн монгол ундасны хоолоор үйлчлүүлэгчдээ үйлчилдэг билээ.</p>
        </div>
    </section>
    <section class="detail-container">
        <div class="details">
            <h2>Details</h2>
            <p><strong>Address:</strong> Vegetarian Friendly, Vegan Options, Gluten Free Option Жуулчны гудамж, Ulaanbaatar.</p>
            <h3>Social Links</h3>
            <p>Facebook</p>
            <p>Instagram</p>
            <p><strong>Phone number:</strong> +976 99887799</p>
        </div>
        <div class="hours">
            <h2>Hours:</h2>
            <p>Friday: 7 AM–12 AM</p>
            <p>Monday: 7 AM–12 AM</p>
            <p>Tuesday: 7 AM–12 AM</p>
            <p>Wednesday: 7 AM–12 AM</p>
            <p>Thursday: 7 AM–12 AM</p>
        </div>
    </section>


    <footer class="footer">
        <h2>A creative team in Mongolia</h2>
        <section class="contact-info">
          <p>Contact us:</p>
          <p><span class="icon">📍</span>Ulaanbaatar, Mongolia</p>
          <p><span class="icon">📞</span>+976 99990099</p>
          <address><span class="icon">✉️</span>twinflames@gmail.com</address>
          <address><span class="icon">🌐</span>twinflames.mn</address>
        </section>
        <section class="social-media">
          <p>Follow us:</p>
          <a href="https://facebook.com" class="social-icon">f</a>
          <a href="https://instagram.com" class="social-icon">i</a>
          <a href="https://twitter.com" class="social-icon">x</a>
        </section>
      </footer>
    

</div>


</body>


</html>