<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hellooooo</title>
    <link rel="stylesheet" href="../../assets/style/signup.css">
    <link rel="stylesheet" href="../../assets/style/style.css">
    <Table></Table>
</head>
<!-- <body>
    <section>
        <h2>Бүртгүүлэх</h2> 
        <p>
            <b>Нэр</b>
            <input type="text">
        </p>
        <p>
            <b>И-мэйл</b>
            <input type="text">
        </p>
        <p>
            <b>Нууц үг </b>
            <input type="text">
        </p>
        <p>
            <b>Нууц үг давтах</b>
            <input type="text">
        </p>
        <button>Бүртгүүлэх</button>
        <p> Танд хаяг байгаа юу?
           <a href="login.html"><i>Нэвтрэх</i></a> 
        </p>
    </section> 
</body> -->

<body>
    <main class="signup-container">
        <form class="signup-form">
            <h2>Welcome!</h2>
            <fieldset>
                <label for="name">Нэр:</label>
                <input type="name" id="name" name="name" required>
            </fieldset>
            <fieldset>
                <label for="email">И-мэйл хаяг:</label>
                <input type="email" id="email" name="email" required>
            </fieldset>
            <fieldset>
                <label for="password">Нууц үг:</label>
                <input type="password" id="password" name="password" required>
            </fieldset>
            <fieldset>
                <label for="password">Нууц үг давтана уу:</label>
                <input type="password" id="password" name="password" required>
            </fieldset>
            <fieldset class="checkbox-field">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Намайг сана</label>
            </fieldset>
            <button type="submit">Бүртгүүлэх</button>
            <section class="links">
                <p> Бүртгэлтэй хаяг бий юу?
                    <a href="./login.html">Нэвтрэх</a>
                </p>
            </section>
        </form>
    </main>
</body>
</html>

