{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock title%} - Restaurant review</title>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="../static/assets/style/style.css">

    {%block style%}
    {%endblock style%}
</head>

<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                <img src="{%static 'assets/images/logo.png'%}">
            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="{%url 'index'%}" class="nav__link">Нүүр</a>
                    </li>

                    <li class="nav__item">
                        <a href="#" class="nav__link">Ресторан</a>
                    </li>

                    <li class="nav__item">
                        <a href="#" class="nav__link">Хоол</a>
                    </li>

                    <li class="nav__item">
                        <a href="#" class="nav__link">Бидний тухай</a>
                    </li>

                </ul>

                <!-- Close button -->
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <div class="nav__actions">
                <!-- Search button -->
                <i class="ri-search-line nav__search" id="search-btn"></i>

                <!-- Login button -->
                <i class="ri-user-line nav__login" id="login-btn"></i>

                <!-- Toggle button -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
                </div>
            </div>
        </nav>
    </header>

    <!--==================== SEARCH ====================-->
    <div class="search" id="search">
        <form action="" class="search__form">
            <i class="ri-search-line search__icon"></i>
            <input type="search" placeholder="What are you looking for?" class="search__input">
        </form>

        <i class="ri-close-line search__close" id="search-close"></i>
    </div>

    <!--==================== LOGIN ====================-->
    <div class="login" id="login">
        <form action="" class="login__form">
            <h2 class="login__title">Тавтай морилно уу !</h2>

            <div class="login__group">
                <div>
                    <label for="email" class="login__label">Имэйл</label>
                    <input type="email" placeholder="Write your email" id="email" class="login__input">
                </div>

                <div>
                    <label for="password" class="login__label">Нууц үг</label>
                    <input type="password" placeholder="Enter your password" id="password" class="login__input">
                </div>
            </div>

            <div>
                <!-- <p class="login__signup">
                    You do not have an account? <a href="#">Sign up</a>
                </p> -->

                <a href="#" class="login__forgot">
                    Нууц үгээ мартсан уу?
                </a>

                <button type="submit" class="login__button">Log In</button>
            </div>
        </form>

        <i class="ri-close-line login__close" id="login-close"></i>
    </div>


    <div class="container" style="margin-top: 6rem;">


        {%block content%}
        {%endblock content%}

    </div>

    <footer class="footer">
        <h2>A creative team in Mongolia</h2>
        <section class="contact-info">
            <p>Contact us:</p>
            <p><span class="icon">📍</span>Ulaanbaatar, Mongolia</p>
            <p><span class="icon">📞</span>+976 99990099</p>
            <address><span class="icon">✉️</span>twinflames@gmail.com</address>
            <address><span class="icon">🌐</span>twinflames.mn</address>
        </section>
        <section class="social-media">
            <p>Follow us:</p>
            <a href="https://facebook.com" class="social-icon">f</a>
            <a href="https://instagram.com" class="social-icon">i</a>
            <a href="https://twitter.com" class="social-icon">x</a>
        </section>
    </footer>


    <script src="{%static 'assets/js/main.js'%}"></script>

    {%block script%}
    {%endblock script%}
</body>

</html>